/* src/index.css */
@import './design-tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Courier New', monospace; */
   font-family: 'Uber Move', 'Cabinet Grotesk', -apple-system, BlinkMacSystemFont, sans-serif;
  background: #1a1a1a;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}